.heading {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.heading-text {
  font-size: xx-large;
  border-bottom: 4px solid red;
  width: fit-content;
}

.button {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  background-color: aliceblue;
}

.board-row {
  display: flex;
  justify-content: center;
}

.winner-text {
  font-weight: 600;
  font-size: 40px;
  color: chocolate;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.reset {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.reset-btn {
  width: 100px;
  height: 50px;
  font-weight: 200;
  border: 2px solid black;
  border-radius: 10%;
  background-color: #4CAF50; 
}

.reset-btn:hover {
  background-color: yellow;
  font-weight: 400;
}
